@import "normalize.styl"
@import "fonts.styl"

gris_oscuro = #333
gris_claro = #818181
mayenta = #BD255B

a
  text-decoration none
body
  font-family 'Varela Round'
  font-size 16px

img
  vertical-align top

.author
  color gris_claro

.buttom-menu
  color gris_oscuro
  font-size 1.5rem
  left 0
  margin-top -10px
  padding-left 1.4rem
  position absolute
  top 50%

.container
  padding 1.4rem
  font-size 0px
  text-align center

.description
  border-bottom 1px solid #BBB
  p:first-child
    font-size 1.4rem
    margin-bottom 0
    margin-top 1.5rem
  p:last-child
    margin-top 0
    margin-bottom 1.4rem
.header
  border-bottom 1px solid #BBB
  height 3.5em
  position relative
  // a
  //   display none
  .title
    font-size 1.1em
    line-height 3.5em
    margin 0
    text-align center
// *****HERE******
.image
  margin 0
  position relative
  width 100%
  img
    width 100%
  .actions
    background rgba(0,0,0,0.2)
    bottom 0
    left 0
    // margin-bottom 0.2em
    padding 0.7rem 1.2rem
    position absolute
    right 0
    text-align right
    .action
      color white
      font-size 1.5em
      margin-right 0.3em
      // &:last-child
      //   margin-right 0
.input
  border 1px solid gris_claro
  border-radius 5px
  height 2.5rem
  padding 0 1em 0 2.5em
  width 150px
.logo
  overflow hidden
  padding 1.3rem 0
  display none
  .image
    float left
    width 122px

.menu
  display none

.name
  color gris_oscuro
.play
  padding 1.5rem 0
  .action
    color gris_claro
    font-size 1.2rem
    margin-right 1rem
    &:last-child
      margin-right 0
.playing
  // display none
  margin 0 auto
  // &.small
  //   width 20rem

.picture
  margin 0
  width 100%
  img
    width 100%
.padding
  padding 1rem
.playlist
  border-left 1px solid gris_claro
  display none
  width 22em
  padding 0 2em
  .action
    color gris_claro
    font-size 0.8em
  .list
    padding 0
    list-style none
  .item
    border-bottom 1px solid gris_claro
    padding 1rem 0
.progress
  margin 1em 0
  position relative
  .min
  .max
    font-size 0.8rem
    top -5px
  .min
    left 0
    position absolute
  .max
    right 0
    position absolute
  .total
    background gris_claro
    border-radius 5px
    height 5px
    margin 0 auto
    width 75%
  .state
    background mayenta
    border-radius 5px
    height 5px
    position relative
    width 30%
    animation 10s state infinite linear
  .circle
    background gris_oscuro
    border-radius 50%
    height 10px
    position absolute
    right 0
    top -2px
    width 10px
    animation 1s circles infinite
.relative
  position relative
.right
  float right
.search
  float right
  margin-right 2rem
  position relative
.search-icon
  border-right 1px solid gris_claro
  color gris_claro
  left 0
  margin-left 0.5em
  margin-top 0.6em
  position absolute
  padding 0.2rem  0.5rem 0.2rem 0
  top 0
.close_icon
  color gris_claro
  font-size 1.2rem
  margin-right 0.5rem
  margin-top 0.5rem
  right 0
  position absolute
  top 0
.song
  display inline-block
  font-size 1rem
  margin-right 1rem
  margin-bottom 1rem
  text-align left
  width 8rem
  &:nth-child(even)
    margin-right 0
  p
    margin 0.5em 0
.text-center
  text-align center
.user
  float right
  .image
    border-radius 50%
    overflow hidden
    width 38px
  .username
    color gris_claro
    margin 0.5rem
    position relative
    top 9px
    &:after
      content ""
      border-top 9px solid gris_claro
      border-right 7px solid transparent
      border-left 7px solid transparent
      display inline-block
      margin-left 0.4em
.wrap
  width 1000px
  margin 0 auto
@keyframes state
  0%
    width 0
  100%
    width 100%
@keyframes circles
  0%
    transform scale(1)
  100%
    transform scale(2)
    opacity 0
@media screen and (min-width:480px)
  .song
    &:nth-child(even)
      margin-right 1rem
  // .playing
  //   &.medium
  //     width 100%

@media screen and (min-width:1000px)

  body
    background #F0F0F0

  .buttom-menu
    display none
  .header
    background white
    border none
    height auto
    .title
      display none
  .logo
    display block
  .music
    width 32.5rem
    float left
    .description
      display none
  .menu
    display block
    background #F0F0F0
    overflow hidden
    border-top 1px solid gris_claro
    .list
      .item:first-child a
        padding-left 0
    .item
      float left
      list-style none
      a
        color gris_oscuro
        cursor pointer
        display block
        padding 1rem
        text-transform uppercase
        border-top 5px solid transparent
        border-right 0px solid transparent
        border-bottom 0px solid transparent
        border-left 0px solid transparent
        &:hover
          border-top 5px solid gris_oscuro
  .playlist
    display block
  .playing
    padding-top 1.3em
    &.large
      margin 0 auto
      overflow hidden
      width 62.5rem
